<div class="content-container">
    {{#notEmpty requests}}
    <h2>მეგობრობის გაგზავნები</h2>
    <div class="list" id="outgoingRequestsList">
        {{#each requests as |request i|}}
        <div class="list-item list-divider" data-user-id="{{request.user_id}}" data-user-name="{{request.user_name}}">
             <img src="/files/users/{{request.image}}" class="list-item-avatar">
            <span class="list-item-content">
                <h4 class="list-item-title">{{request.full_name}}</h4>
            </span>
            <button class="button button-icon" data-tooltip="მეტის ნახვა">
                <i class="material-symbols-outlined">more_horiz</i>
            </button>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="empty-list-wrapper">
        <img src="/public/images/empty.webp" width="300" height="300">
        <div class="empty-search-suggestion">
            <h3>თქვენ არავისთვის გაგიგზავნიათ მეგობრების თხოვნა! </h3>
        </div>
    </div>
    {{/notEmpty}}
</div>