<div class="footer">
    <h2>ნავიგაცია</h2>
    <div class="footer-list">
        <a class="button footer-button {{footerActive pathname 'index'}}" href="/">
            <i class="material-symbols-outlined icon-white">home</i>
            <span>მთავარი</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'user'}}" href="/users/{{user_name}}">
            <i class="material-symbols-outlined icon-white">contact_page</i>
            <span>ჩემი გვერდი</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'shares'}}" href="/shares">
            <i class="material-symbols-outlined icon-white">share</i>
            <span>გაზიარებები</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'friends'}}" href="/friends">
            <i class="material-symbols-outlined icon-white">group</i>
            <span>მეგობრები</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'outgoing-requests'}}" href="/outgoing-requests">
            <i class="material-symbols-outlined icon-white">outbox</i>
            <span>მეგობრობის გაგზავნები</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'ingoing-requests'}}" href="/ingoing-requests">
            <i class="material-symbols-outlined icon-white">move_to_inbox</i>
            <span>მეგობრობის თხოვნები</span>
        </a>
        <a class="button footer-button {{footerActive pathname 'blocks'}}" href="/blocks">
            <i class="material-symbols-outlined icon-white">block</i>
            <span>დაბლოკილები</span>
        </a>
    </div>
</div>
</div>